* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}



section {
  margin-top: 3rem;
}

h1 {
  text-align: center;
  margin: 0.625em 0;
  font-size: 2.5em;
}

.container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 4em repeat(5, 1fr); 
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
}

.day {
  font-size: 1.2em;
  background: #eee;
  color: #333;
  text-align: center;
  padding: 0.5em 0;
  border: 1px solid #ccc;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.days {
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days .evento {
  margin-top: 0.25em;
  background-color: #c9a66b;
  color: #fff;
  font-size: 0.7em;
  padding: 0.1em 0.3em;
  border-radius: 4px;
  max-width: 90%;
}



@media (max-width: 900px) {
  .ol {
  grid-template-columns: repeat(7, minmax(80px, 1fr));
}

}


@media (max-width: 600px) {
  .ol {
  grid-template-columns: repeat(7, minmax(80px, 1fr));
}

}
