* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --------- Header --------- */
header {
  background-color: grey;
  color: white;
  padding: 1rem;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo img {
  max-width: 120px;
  height: auto;
}

/* Buscador */
.busqueda input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 300px; 
}

/* Carrito */
.carrito {
  position: relative;
  font-size: 24px;
  
}

.carrito .contador {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Menú */
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}

/* agrega espacio arriba de cada sección */
section {
  margin-top: 3rem;
}

h1 {
    text-align: center;
    margin: 0.625em 0;
    font-size: 2.5em;
}

.container {
    flex: 1; /* pocupa todo el espacio restante del body */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
   
}

.ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 4em repeat(5, 1fr); /* altura fija del cuadrado de los nombres de los dias */
    width: 100%;   
    height: 100%;  
    border: 2px solid #ccc;
    
}

.day {
    font-size: 1.2em;
    background: #eee;
    color: #333;
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid #ccc;
    border-bottom: none; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.days {
    border: 1px solid #ccc;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days .evento {
    margin-top: 0.25em;
    background-color: #c9a66b; 
    color: #fff;
    font-size: 0.7em;
    padding: 0.1em 0.3em;
    border-radius: 4px;
    max-width: 90%;
    
}

footer {
  background: #222;
  color: white;
  padding: 2rem;
}

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.columna h3 {
  margin-bottom: 1rem;
}

.columna ul {
  list-style: none;
}

.columna a {
  color: #aaa;
  text-decoration: none;
}

