* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
}


main {
  max-width: 75rem;
  margin: 0.5rem auto;
  padding: 1rem;
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  gap: 1.25rem;
}

.formulario-contacto {
  flex: 1;
}

.formulario-contacto h2 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaa;
}

textarea {
  min-height: 6.25rem;
  resize: vertical;
}

button {
  width: 3.75rem;
  height: 2.5rem;
  padding: 0;
  border: 1px solid #555;
  background-color: #eee;
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
}

button:hover {
  background-color: #ddd;
}

.info-contacto {
  flex: 1;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.info-contacto h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  text-align: center;
}

.mapa h2 {
  margin-bottom: 0.9375rem;
}

.mapa-box {
  position: relative; 
  width: 100%;
  padding-top: 40%; 
  border: 1px solid #aaa;
  border-radius: 8px;
  overflow: hidden;
}

.mapa-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: #111111bd;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1000;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
}

.modal__container {
  width: 90%;
  max-width: 550px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modal__img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.modal__title {
  font-size: 1.6rem;
  color: #333;
}

.modal__paragraph {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  margin: 0;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.modal__btn {
  text-decoration: none;
  padding: 0.8em 1.8em;
  border-radius: 6px;
  font-weight: 500;
  transition: all .3s ease;
  font-size: 1rem;
}

.modal__detalle {
  background-color: #28a745;
  color: #fff;
}

.modal__detalle:hover {
  background-color: #1e7e34;
}

.modal__close {
  background-color: #06ff12;
  color: #fff;
}

.modal__close:hover {
  background-color: #fff;
  color: #0bc21b;
  border: 1px solid #F26250;
}

