* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
}


main {
  max-width: 75rem;
  margin: 0.5rem auto;
  padding: 1rem;
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  gap: 1.25rem;
}

.formulario-contacto {
  flex: 1;
}

.formulario-contacto h2 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaa;
}

textarea {
  min-height: 6.25rem;
  resize: vertical;
}

button {
  width: 3.75rem;
  height: 2.5rem;
  padding: 0;
  border: 1px solid #555;
  background-color: #eee;
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
}

button:hover {
  background-color: #ddd;
}

.info-contacto {
  flex: 1;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.info-contacto h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  text-align: center;
}

.mapa h2 {
  margin-bottom: 0.9375rem;
}

.mapa-box {
  position: relative; 
  width: 100%;
  padding-top: 40%; 
  border: 1px solid #aaa;
  border-radius: 8px;
  overflow: hidden;
}

.mapa-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
