/* --------- Header --------- */
header {
  background-color: grey;
  color: white;
  padding: 1rem;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo img {
  max-width: 120px;
  height: auto;
  margin-left: 1rem;
}

/* Buscador */
/* .busqueda input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
} */
.busqueda {
  position: relative;
  display: flex;
  align-items: center;
}

.busqueda i {
  position: absolute;
  left: 10px;
  color: #555;
}

.busqueda input {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35em;
}

/* Carrito */
.carrito {
  position: relative;
  font-size: 24px;
  margin-left: 8rem;
}

.carrito .contador {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Menú */

nav {
  margin-right: 5rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  width: 25em;
}

nav a {
  color: white;
  text-decoration: none;
}

/* agrega espacio arriba de cada sección */
section {
  margin-top: 3rem;
}

/* --------- Footer --------- */
footer {
  background: #222;
  color: white;
  padding: 2rem;
}

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.columna h3 {
  margin-bottom: 1rem;
}

.columna ul {
  list-style: none;
}

.columna a {
  color: #aaa;
  text-decoration: none;
}

/* --------- medias queris --------- */

/* Tablets */
@media (max-width: 768px) {
  .contenedor-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Celulares */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .logo img {
    max-width: 90px;
  }

  .cursos-destacados {
    grid-template-columns: 1fr;
  }

  .medios-de-pago img {
    max-width: 60px;
  }
}


