/* --------- Header --------- */
header {
  background-color: grey;
  color: white;
  padding: 1rem;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.logo img {
  max-width: 120%;
  height: auto;
}

/* Buscador */
/* .busqueda input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
} */
.busqueda {
  position: relative;
  display: flex;
  align-items: center;
    flex: 1; /* ocupa espacio flexible */
  max-width: 80%; /* límite en pantallas grandes */
}

.busqueda i {
  position: absolute;
  left: 0.625rem; 
  color: #555;
}

.busqueda input {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  min-width:  40%;
}

/* Carrito */
.carrito {
  position: relative;
  font-size: 1.5rem;
  margin-left: 8rem;
}

.carrito .contador {
  position: absolute;
  top: -0.5rem; 
  right: -0.75rem; 
  background: red;
  color: white;
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
  border-radius: 50%;
}

/* Menú */

nav {
  margin-right: 5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap; /* si no entra en una fila, baja */
  list-style: none;
  gap: 1rem;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

/* agrega espacio arriba de cada sección */
section {
  margin-top: 3rem;
}

/* --------- Footer --------- */
footer {
  background: #222;
  color: white;
  padding: 2rem;
}

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.columna h3 {
  margin-bottom: 1rem;
}

.columna ul {
  list-style: none;
}

.columna a {
  color: #aaa;
  text-decoration: none;
}

/* --------- MEDIA QUERIES --------- */
@media (max-width: 768px) {
  .busqueda {
    order: 3; 
    width: 100%;
  }

  nav ul {
    justify-content: center;
    width: 100%;
  }

  .carrito {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-width: 90px;
  }

  .busqueda input {
    min-width: 150px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}


